@charset "utf-8";
/* ===================================================================
 style info : 各cssファイル読み込み用
 author     : name
=================================================================== */

/* default style - リセット
----------------------------------------------------------- */
@import url("default.css");

/* all style
----------------------------------------------------------- */
@import url("style.min.css");
